{% extends 'base.html' %}

{% load static %}
{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content1 %}
<!-- App-specific content goes here -->
<br>
<div class="centered-div">
    {% if messages %}
            {% for message in messages %}
                <p style="color: red; font-weight: bold">{{ message }}</p>
            {% endfor %}
    {% endif %}
    <h1 class="headlogin">Signup Here</h1>
    <form class="frm" method="post">
        {% csrf_token %}
        <div class="logingrid">
            <div></div>
            <div>
                <label class="txt_form" for="username">Username:</label><br>
            </div>
            <div></div>

            <div></div>
            <div>
                <input class="inp_form" type="text" id="username" name="username"><br>
            </div>
            <div></div>

            <div></div>
            <div>
                <label class="txt_form" for="username">Email Address:</label><br>
            </div>
            <div></div>

            <div></div>
            <div>
                <input class="inp_form" type="text" id="email" name="email"><br>
            </div>
            <div></div>

            <div></div>
            <div>
                <label class="txt_form" for="username">Password:</label><br>
            </div>
            <div></div>

            <div></div>
            <div>
                <input class="inp_form" type="text" id="userna" name="password"><br>
            </div>
            <div></div>

            <div></div>
            <div>
                <label class="txt_form" for="pwd">Confirm Password:</label><br>
            </div>
            <div></div>

            <div></div>
            <div>
                <input class="inp_form" type="password" id="pwd" name="confirm_pass">
            </div>
            <div></div>
        </div>
        <br>
        <button class="submit" type="submit">Signup</button>
    </form>
    <div class="register">
        <a href="/authoriz/login" style="color: cornsilk;font-size: larger">Already Have a Account? Login Here</a>
    </div>
</div>

{% endblock %}